<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>exmg-markdown-editor demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../../marked-element/marked-element.html">
    <link rel="import" href="../../polymer/lib/elements/dom-bind.html">
    
    <link rel="import" href="../exmg-markdown-editor.html">
    <link rel="stylesheet" href="../../github-markdown-css/github-markdown.css">

    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles">
        .centered {
          max-width: 1000px;
        }
      </style>
    </custom-style>
  </head>
  <body>
    <div class="vertical-section-container centered">

      <demo-snippet>
        <template>
          <dom-bind>
            <template>
              <exmg-markdown-editor auto-focus split-view>
                <marked-element>
                  <div slot="markdown-html" class="markdown-body"></div>
                  <script type="text/markdown">
                    # Headers
                    
                    # H1
                    ## H2
                    ### H3
                    #### H4
                    ##### H5
                    ###### H6

                    # Text
                    Lorem **ipsum** dolor sit amet, ~~consectetur adipiscing~~ elit, sed do *eiusmod* tempor incididunt 
                    ut labore et dolore magna aliqua. 

                    # Table
                    | User Name | Email |
                    | -------- | -------- |
                    | Pete     | Pete@example.com     |

                    # Quote
                    > Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    
                    # Lists

                    ## Unordered
                    * List option 1
                    * List option 2

                    ## Ordered
                    1. List option 1
                    2. List option 2

                    # Images
                    ![Yes](https://www.polymer-project.org/images/logos/p-logo.png)
                  </script>
                </marked-element>
              </exmg-markdown-editor>
            </template>
          </dom-bind>
        </template>
      </demo-snippet>
      
    </div>
  </body>
</html>
